<!DOCTYPE html>
<html>
<head>

    <title>Speech Emotion Recognition</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>


<div class="container">

    <h1>🎙 Speech Emotion Recognition</h1>

    <p class="subtitle">
        Upload a WAV audio file and let AI analyze the speaker's emotion.
    </p>

    <div class="upload-card">

        <form id="uploadForm"
              action="/upload"
              method="POST"
              enctype="multipart/form-data">

            <input
                type="file"
                name="audio"
                accept=".wav"
                required>

            <button type="submit">
                Analyze Emotion
            </button>

        </form>

    </div>

</div>

<div id="loading-screen">

    <div class="loader"></div>

    <h2>Analyzing Audio...</h2>

    <p>Please wait while AI processes your recording.</p>

</div>

<script>

document.getElementById("uploadForm").addEventListener("submit",function(){

document.getElementById("loading-screen").style.display="flex";

});

</script>

</body>

</html>